:root {
  --navy: #110f1f;
  --lightblue: #45eaff;
  --greylight: #39404b;
  --greydark: #292d33;
  --greydarker: #1d1e22;
  --creamson: #ff0d67;
  --whitish: #d4d4d4;
}

.datagrid {
  color: var(--whitish) !important;
}

.MuiDataGrid-columnHeaderTitleContainer,
.MuiDataGrid-menuIcon {
  color: var(--lightblue);
}

.MuiSvgIcon-root,
  .MuiSvgIcon-fontSizeMedium,
  .MuiDataGrid-iconSeparator,
  .css-i4bv87-MuiSvgIcon-root {
    color:var(--lightblue);
}

.heading {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.heading h1 {
  background-image: linear-gradient(
    to right,
    var(--lightblue),
    var(--whitish),
    var(--lightblue),
    var(--whitish)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 2.5rem 0;
}
.icon {
  color: var(--whitish);
}
.icon:hover {
  color: var(--navy);
}
